*{
	margin: 0;
}
body {
	background-color: #F5F5F5;
}
header {
	height: 64px;
	background-color: #008B8B;
}
.locadora {
	/*background: linear-gradient(#EE3B3B, white, black);*/
	font-weight: 300;
	height: 44px;
	color: #FFFAFA;
	background-color: #00CDCD;
	float: left;
	padding: 10px;
}
#cabecalho li{
	padding: 20px;
	display: inline-block;
	color: white;
	border-width: 1px;
	border-style: solid;
}
#cabecalho li:hover{
	padding: 21px;
	color: black;
	transition: width linear;
}
#cabecalho .cliente{
	color: #363636;
	border-width: 2px;
	border-style: solid;
	border-color: #363636;
	padding: 21px;
}
.form [type="text"]{
	border-radius: 6px;
	width: 30%;
	height: 35px;
	border: 1.5px solid #dce3e2;
}
.form label{
	font-family: "Segoe UI";
	font-weight: 100;
	font-size: 23px;
	/background-color: #CFCFCF;
	display: block;
	padding-top: 30px;
}
.novoCliente {
	font-size: 32px;
	margin-top: 50px;
	font-family: -apple-system, sans-serif;
}
.sectionForm{
	margin-left: 2%;
}
.form input[type="submit"]{
	background-color: green;
}
.form input[type="submit"], .button{
	color: white;
	border-radius: 6px;
	/text-decoration: none;
	margin-top: 3%;
	width: 10%;
	height: 40px;
}
.form{
	display: block;
}
.button{

	margin-left: 7%;
	background-color: red;
}
.div2 {
	margin-bottom: 40px;
}
footer {
	background: black;
	color: white;
}
pre {
	margin-left: -60px;
	padding-top: 10px;
}

