body {
	background-color: #E6E6FA;
}
#login{
	color: #666;
}
#main h1{
		text-align: center;
}
#main {
	background-color: white;
	margin: 10% 31%;
	height: 300px;
	box-shadow: 1px 1px 25px #8B8989;
	padding: 2%;
}
#form [placeholder="Usuário ou E-mail"]{
	padding-left: 50px;
	box-sizing: border-box;
}
#form [placeholder="Senha"]{
	padding-left: 50px;
	box-sizing: border-box;
}
#form [type="text"],[name="Senha"]{
	height: 40px;
	width: 95%;
	margin-top: 0%;
	border: 1.3px solid #dce3e2;
}
.usuarioInput svg, .passwordInput svg{
	position: relative;
	top: -28px;
	left: 3%;
	height: 5%;
	width: 5%;
}
#form [type="submit"] {
	background-color: #26a9e1;
	height: 40px;
	width: 95%;
	margin-top: 8%;
	border-style: none;
	color: white;
}
fieldset{
	border-style: none;
}
